$component-height-xs: 1.3rem;
$component-height-sm: 1.6rem;
$component-height-md: 2rem;
$component-height-lg: 2.6rem;
$component-height-xl: 3.5rem;

$component-font-size-xs: 0.6rem;
$component-font-size-sm: 0.75rem;
$component-font-size-md: 0.9rem;
$component-font-size-lg: 1rem;
$component-font-size-xl: 1.2rem;
